body{
    margin: 0px;
}
nav{
    background-color: #2dcc70;
    height: 7px;
}
header{
    height: 37.0vw;
    background-image: url(images/banner.png);
    background-size: cover;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.column{
    left: 85px;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    position: relative;
    top: 85px;
}
section{
    background-color: #184207;
    height: 250px;
    width: 250px;
    border-radius: 50%;
}
.logo{
    position: absolute;
    left: 86px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
aside{
    background-color: aqua;
    height: 25.7vw;
}
article{
    background-color: orange;
    height: 28.4vw;
}
footer{
    background-color: firebrick;
    height: 8.5vw;
}
@media(max-width: 700px){
    header{
        height: 10vw;
    }
}