body{
    margin: 0px;
    font-family: 'Pacifico', cursive;
}

.banner{
    background-image: url(images/banner.png);
    background-size: cover;
    color: white;
    border-top: 10px solid #2dcc70;

    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 500px;
}

.banner > div{
    width: 400px;
}

.banner h1{
    font-family: 'Pacifico,';
    font-size: 48px;
    position: relative;
    margin-top: 0;
}

.banner h1 span{
    width: 10px;
    height: 10px;
    display: block;
    background-color: #2dcc70;
    border-radius: 100%;
    position: absolute;
    top: 44px;
    left: 135px;
}

.banner p{
    font-size: 20px;
}

.banner > img{
    width: 250px;
    align-self: flex-end;
    display: none;
}

.banner .icones img:hover{
    background-color: #2dcc70);
}

.banner .icones img{
    width: 30px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 100%;
}

@media(min-width: 768px){
    .banner{
        height: 38vw;
        padding: 0 100px;
    }

    .banner > img{
        display: block;
    }
}
@media(min-width: 1024px){
    .banner{
        height: 38vw;
        padding: 0 200px;
    }

    .banner > img{
        width: 365px;
        display: block;
    }
}

section{
    align-items: center;
    display: flex;
    flex-direction: row;
    font-family: sans-serif;
    justify-content: space-around;
    height: 40vh;
}
    
.World{
    align-items: center;
    display: flex;
    height: 20vh;
}

.World img{
    align-items: center;
    display: flex;
    height: 50px;
    justify-content: center;
    width: 50px;
    padding: 10px;
}
.World h2{
    font-size: 15pt;
    font-weight: normal;
}
    
.World p{
    color: gray;    
    font-size: 11pt; 
}
    
.World .Logo, .Stars, .Mundo{
    align-items: center;
    background-color: green;
    border-radius: 100%;
    display: flex;
    height: 80px;
    justify-content: center;
    width: 80px;
}
aside{
